@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F6F7F8;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F6F7F8;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1c1c1c;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}